<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BagasiHidroponik.Properties.Settings.DB_HidroponikConnectionString"
            connectionString="Data Source=YAPART\YOGA;Initial Catalog=DB_Hidroponik;User ID=sa;Password=Crandle1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>